
<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}


.row {
    padding-left: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

</style>
</head>
  <body>
  
  <div class="center jumbotron">
    <h1>Alpha Blog</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>  
  
  </body>
</html>