$navbar-default-bg: #A00000;


@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

#logo{
  float: left;
  font-size: 1.7 em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color:#fff;
  text-decoration: none;
}


.jumbotron h1 {
  font-size: 3.7 em;
  color: #fff;
  margin-bottom: 30 px;
  padding-top: 80px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center{
  text-align: center;
}

.jumbotron {
  background-image: asset-url('regular.png');
  background-size: cover;
  height: 350px;
}

.btn-xlarge{
  font-size: 1.7 em;
  background-color: darkgrey;
  border: none;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge:hover{
  font-size: 1.7 em;
  background-color: #A00000;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top:1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer small {
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left:15px;
}

.btn-create{
  margin-top: 20px;
  margin-left: 10px;
  background-color: #A00000;
}

.btn-create:hover{
  font-size: 1.7 em;
  background-color: #f44245;
}